@charset "utf-8";

@media only screen and (min-width: 768px){
    body{
        background-image: url('../imagens/coding.jpg');
        padding: 50px;
        width: 93vw;
        padding: 20px;
    }
    div#container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    h1{
        font-size: 2.2em;
        width: 400px;
    }

    section.header p{
        width: 400px;
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 992px){
    body{
    }
    div#container{
        margin-top: 5%;
        margin-bottom: none;
        justify-content: space-between;
    }
    section#container-formulario{
        width: 25vw;
    }
}